"codigo/word2vec/word2vec -train ../text8 -output vectors.bin -cbow 1 -size 200 -window 8 -negative 25 -hs 0 -sample 1e-4 -threads 20 -binary 1 -iter 15":
	path: "codigo/word2vec/word2vec -train ../text8 -output vectors.bin -cbow 1 -size 200 -window 8 -negative 25 -hs 0 -sample 1e-4 -threads 20 -binary 1 -iter 15"
	cwd: "codigo/word2vec"

"codigo/word2vec/calcula-erro":
	path: "codigo/word2vec/calcula-erro"
	args: ["basedir:'codigo/word2vec', args:'../saida/vectors.bin 0 < questions-words2.txt'"]
	cwd: "codigo/word2vec"
